
<img class="Schefter" src="../Schefter.png">
<div class="opening">
<p >Adam Schefter
    <br>
    @AdamSchefter
</p>
</div>

<p class="body">Sources confirm that Matthew Hearne has officially signed a 1 year $105,000 contract with Systems Definition Inc.
    for the position of Software Engineer beginning 15 October 2024 in Reston Virginia.
    <br>
    <br>
    He will be designing, developing, and implementing software applications within a Goverment research and
    development domain.
</p>

<a href="https://www.systemsdefinition.com/">
    <img src="../SDI.png">
</a>